* @HelloWRC @ClassIsland/developers-classisland

# 关键文件
/.github/ @HelloWRC
/tools/ @HelloWRC
*.md @HelloWRC
*.ps1 @HelloWRC

# 构建关键文件
*.csproj @HelloWRC
*.props @HelloWRC
*.targets @HelloWRC

# 关键组件
/ClassFabric/Services/LessonsService.cs @HelloWRC
/ClassFabric/Services/ProfileService.cs @HelloWRC
/ClassFabric/Services/SettingsService.cs @HelloWRC
/ClassFabric/Services/Management/ @HelloWRC
/ClassFabric/MainWindow.xaml* @HelloWRC
/ClassFabric/App.xaml* @HelloWRC
/ClassFabric.Core/ThemeBase.xaml @HelloWRC

# 类别：自动化
**/Action @DryIce-cc @HelloWRC
**/Automation @DryIce-cc @HelloWRC
/ClassFabric.Core/Abstractions/Services/IActionService.cs @DryIce-cc @HelloWRC
/ClassFabric.Core/Abstractions/Services/IAutomationService.cs @DryIce-cc @HelloWRC
/ClassFabric/Services/ActionService.cs @DryIce-cc @HelloWRC
/ClassFabric/Services/AutomationService.cs @DryIce-cc @HelloWRC
/ClassFabric/Models/Actions @DryIce-cc @HelloWRC
/ClassFabric/Controls/ActionSettingsControls @DryIce-cc @HelloWRC

# 类别：集控/Protobuf
*.proto @Doctor-yoi @HelloWRC
